@* Blogs Index *@

@model IEnumerable<Tiresias.Models.Post>

<article>
    @foreach (var item in Model)
    {

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>@Html.ActionLink(item.post_title, "Article", "Blog", new { id = item.post_id }, null)</h1>

                        <span class="meta">Posted on @Html.DisplayFor(modelItem => item.post_date)</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    @Html.HiddenFor(modelItem => item.post_id)
                    @Html.HiddenFor(modelItem => item.post_type)
                    <p> @Html.DisplayTextFor(modelItem => item.post_content)</p>
                    </div>
                </div>
        </div>
    }

</article>

