@model IEnumerable<Tiresias.Models.Post>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.post_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post_content)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.post_id)
            @Html.DisplayFor(modelItem => item.post_type)
        </td>
        <td>
                @Html.ActionLink(item.post_title, "Article", "Blog", new { id = item.post_id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_content)
        </td>
        
    </tr>
}

</table>
