@model IEnumerable<Tiresias.Models.Submission>

<p>
    Pending approval
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.submission_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submission_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submission_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submission_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editor_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.submission_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submission_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submission_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.submission_content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.editor_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approved)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.submission_id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
