@model IEnumerable<Tiresias.Models.User>

<p>
    @Html.ActionLink("Create New", "CreateUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgName)
        </th>
        
        <th>Manage</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>

   
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { id=item.user_id}) |            
            @Html.ActionLink("Delete", "DeleteUser", new { id = item.user_id })
        </td>
    </tr>
}

</table>
